<div class="stepper-bar">
    <div class="stepper-item completed">
        <div class="step-counter"></div>
        <div class="step-name active">Início</div>
    </div>
    <div class="stepper-item">
        <div class="step-counter"></div>
        <div class="step-name">Documentos</div>
    </div>
    <div class="stepper-item">
        <div class="step-counter"></div>
        <div class="step-name">Dados cadastrais</div>
    </div>
    <div class="stepper-item">
        <div class="step-counter"></div>
        <div class="step-name">Admissão</div>
    </div>
</div>