$border-blue: #165C7D;
$background-circle: #C6CED1;

.stepper-bar {
    width: 552px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .stepper-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    .step-name {
        font-family: Open Sans;
        font-weight: 400;
        font-size: 14px;
        line-height: 19.07px;
        text-align: center;
        color: #889499;

        &.active {
            color: $border-blue;
        }
    }

    .stepper-item::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid $background-circle;
        width: 88%;
        top: 9px;
        left: 56%;
        z-index: 2;
    }

    .stepper-item .step-counter {
        position: relative;
        z-index: 5;
        display: flex;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: $background-circle;
        margin-bottom: 6px;
    }

    .stepper-item.completed .step-counter {
        border: 2px solid $border-blue;
        background: none;
    }

    .stepper-item.completed::after {
        position: absolute;
        content: "";
        width: 88%;
        top: 9px;
        left: 57%;
        z-index: 3;
    }

    .stepper-item:last-child::after {
        content: none;
    }
}

@media (max-width: 604px) {
    .stepper-bar {
        display: none;
    }

}