<div class="card">
    <div class="card-body">
        <h5>Contas a pagar</h5>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Entrada</th>
                    <th scope="col">Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Salário</td>
                    <td>2400</td>
                </tr>
                <tr>
                    <td>Salário</td>
                    <td>2400</td>
                </tr>
                <tr>
                    <td>Salário</td>
                    <td>2400</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">foot</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>