<div class="card">
    <div class="card-header">
        <b>Contas a receber</b>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Entrada</th>
                    <th scope="col">Valor</th>
                </tr>
            </thead>
            <tbody>
                @for (item of receivable; track $index) {
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.value | currency: 'BRL'}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>