$blue-footer: #125D79;

.toolbar {
    position: absolute;
    top: 0;
    left: 100px;
    right: 0;
    height: 89px;
    display: flex;
    align-items: center;
    background-color: white;
    color: white;
    font-weight: 600;

    &-group {
        width: 70%;
        height: 50px;
        margin-left: 24px;

        h1 {
            width: 100%;
            margin: 0;
            font-family: Exo;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0px;
            color: #101213;
            text-wrap: nowrap;
        }

        span {
            font-family: Open Sans;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0px;
            color: #787878;
            text-wrap: nowrap;
        }
    }

    &-group-right {
        width: 30%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 24px;
        gap: 16px;

        span {
            color: #125D79;
        }

        &-div-name {
            width: 109px;
            height: 32px;
            border-width: 1px;
            border-radius: 15px;
            border: 2px solid $blue-footer;
            color: $blue-footer;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-div-img {
            width: 40.71px;
            height: 42px;
            border-radius: 50%;
            border: 2px solid $blue-footer;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                background-color: #ddd;
                border-radius: 50%;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
    }

    @media (max-width: 604px) {
        .toolbar-group-right {
            display: none;
        }

    }
}