<!-- Toolbar -->
<div class="toolbar" role="banner">

    <div class="toolbar-group">
        <h1>NOVA ADMISSÃO COOPERADO</h1>
        <span>Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado </span>
    </div>

    <div class="toolbar-group-right">
        <span class="material-icons-outlined">
            notifications
        </span>
        <div class="toolbar-group-right-div-name">
            <b>VIACREDI</b>
        </div>
        <div class="toolbar-group-right-div-img">
            <img src="../../assets/img/avatar.png" alt="avatar">
        </div>

    </div>

</div>