<div>
    <div class="new-cooperator-admission-region-stapbar">
        <app-stepper-bar></app-stepper-bar>
    </div>
    <div class="new-cooperator-admission-region-form">
        <h2>Informe o CPF do futuro cooperado (a)</h2>
        <span>Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este cadastro futuramente.
            Digite apenas os números (sem pontos ou traços).
        </span>
        <div style="margin-top: 16px;">
            <label for="cpf" class="label">CPF</label>
            <div style="display: flex;">
                <input [(ngModel)]="cpf" class="input" [ngClass]="{'input-invalid-cpf': !isValidCPF}" type="text"
                    name="cpf" (keypress)="maskCPF($event.target)" type="text" title="000.000.000-00"
                    placeholder="000.000.000-00">
                <app-generic-button textBtn="Consultar por CPF" [inline]="false" [isLoading]="isLoading"
                    (onClickEmitter)="searchCPF()" [disabled]="this.cpf.length < 14"></app-generic-button>
            </div>
            @if (!isValidCPF) {<p *ngIf="" class="invalid-cpf">Informe um CPF válido</p>}
        </div>
    </div>

    @if (person) {
    <div class="new-cooperator-admission-region-card">
        <app-card [paramCard]="person"></app-card>
    </div>
    }

    <app-footer>
        <div class="div-footer">
            @if (person) {
            <app-generic-button textBtn="Iniciar nova admissão" [inline]="false"></app-generic-button>
            }

            <app-generic-button textBtn="Dicas para admissão"></app-generic-button>
        </div>
    </app-footer>
</div>