<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div id="container-floating">
    <div class="nd4 nds">
        <p class="letter">
            <span class="material-icons-outlined">
                delete
            </span>
        </p>
    </div>

    <div class="nd3 nds">
        <p class="letter">
            <span class="material-icons-outlined">
                edit
            </span>
        </p>
    </div>

    <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events-->
    <div class="nd1 nds" (click)="onClickAddEmitter.emit()">
        <p class="letter">
            <span class="material-icons-outlined">
                add
            </span>
        </p>
    </div>

    <div id="floating-button">
        <p class="plus">
            <span class="material-icons-outlined">
                more_vert
            </span>
        </p>
    </div>
</div>