<div class="card">
    <div class="card-body">
        <h5>Contas a pagar</h5>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>

            <tbody>
                @for (item of accountPayable; track $index) {
                <tr>
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.value | currency: 'BRL'}}</td>
                    <td>{{item.date | date:"dd/MM/yyyy"}}</td>
                    <td>{{item.status}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>