<div class="card">
    <div class="card-body">
        <h5>Contas a pagar</h5>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Carro</td>
                    <td>2400</td>
                    <td>20/02/2050</td>
                    <td>true</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Carro</td>
                    <td>2400</td>
                    <td>20/02/2050</td>
                    <td>true</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Carro</td>
                    <td>2400</td>
                    <td>20/02/2050</td>
                    <td>true</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">foot</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>