/* You can add global styles to this file, and also import other style files */
@import "../node_modules/material-icons/iconfont/material-icons.css";

.body {
  background: #e7eef1;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  min-width: 420px;
}

.label {
  &-sm {
    font-size: 12px;
  }

  &-required {
  }
}

.label-required::after {
  content: "*";
  color: red;
}

.pading-card-chart {
  padding: 20px;
}

.invalid-feedback-form {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--bs-form-invalid-color);
}
