.card {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    min-width: 180px;
    height: 183px;
    border-radius: 2px;
    padding: 20px;
    gap: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #00000040;
    justify-content: center;

    &-group-title {
        width: 250px;
        height: 34px;
    }

    &-group {
        width: 250px;
        height: 34px;
        display: flex;

        .icon {
            display: flex;
            align-items: center;

            &-succes {
                color: #00C246;
            }

            &-danger {
                color: red;
            }
        }

        .text-action {
            font-family: Open Sans;
            font-weight: 600;
            font-size: 14px;
            line-height: 19.07px;
            color: #165C7D;
            cursor: pointer;
        }

        .group-text {
            margin-left: 16px;
        }
    }

    h3 {
        margin: 0px;
        font-family: Open Sans;
        font-weight: 700;
        font-size: 14px;
        line-height: 19.07px;
        color: #040F14;
    }

    &-text-span {
        margin: 0px;
        font-family: Open Sans;
        font-weight: 400;
        font-size: 14px;
        line-height: 19.07px;
        color: #040F14;
    }

    &-text-p {
        margin: 0px;
        font-family: Open Sans;
        font-weight: 400;
        font-size: 11px;
        line-height: 14.98px;
        color: #787878;
    }

}

@media (max-width: 604px) {
    app-card {
        flex-direction: column;
    }
}