<div class="card">
    <div class="card-group-title">
        <h3>Situação cadastral do CPF</h3>
        <p class="card-text-p">Consulta na Receita Federal</p>
    </div>

    <div class="card-group">
        <span class="material-icons-round icon">person</span>
        <div class="group-text">
            <p class="card-text-p">Nome</p>
            <span class="card-text-span">{{paramCard.name}}</span>
        </div>
    </div>

    <div class="card-group">
        <span *ngIf="paramCard?.situation" class="material-icons-outlined icon icon-succes" >check_circle</span>
        <span *ngIf="!paramCard?.situation" class="material-icons-outlined icon icon-danger" >
            cancel
        </span>
        <div class="group-text">
            <p class="card-text-p">Situação do CPF</p>
            <span  *ngIf="paramCard?.situation" class="card-text-span">Regular</span>
            <span *ngIf="!paramCard?.situation" class="card-text-span">Pendente</span>
        </div>
    </div>
</div>


<div class="card" *ngFor="let item of paramCard?.account">
    <div class="card-group-title">
        <h3>Conta {{ item?.accountType}}</h3>
        <p class="card-text-p">Cooperativa Viacredi</p>
    </div>

    <div class="card-group">
        <span class="material-icons-round icon">
            credit_card
        </span>
        <div class="group-text">
            <p class="card-text-p">Numero da conta</p>
            <span class="card-text-span">{{item?.accountNumber}}</span>
        </div>
    </div>

    <div class="card-group">
        <span class="text-action"> Duplicar conta</span>
    </div>
</div>